<style>



body {
	background-color:#efeee7;
	font-color:#333333;
	font-family:"Georgia", Times New Roman, Times, Serif;
	margin: 0;
	padding: 0;
}
.container {

}

#main-bio {

}

#contact-info {

}

</style>